<!-- This file contains the HTML template used for the list elements. -->
<!-- Author: Ardalan Ahanchi -->
<!-- Date: December 2023 -->

<template id="resource_list_element_template">
<!-- For the whole list element including info and buttons. -->
<div class="wm_element_list_element">
<!-- For the info section of including name and status. -->
<div class="wm_element_list_element_info">
<!-- For the name and operations section. -->
<div class="wm_element_list_element_name_ops">
<h3 id="resource_element_name_{{res_name_keyword}}" class="wm_item_name" title="Name of the resource">{{res_name_keyword}}</h2>
<div class="wm_element_list_element_buttons">
<button id="resource_element_edit_{{res_name_keyword}}" type="button" onClick="edit_resource('{{res_name_keyword}}')" class="wm_item_op">Edit</button>
<button id="resource_element_raw_{{res_name_keyword}}" type="button" onClick="raw_resource('{{res_name_keyword}}')" class="wm_item_op">Raw</button>
<button id="resource_element_delete_{{res_name_keyword}}" type="button" onClick="delete_resource('{{res_name_keyword}}')"class="wm_item_op">Delete</button>
</div>
</div>
<!-- For only the resource status section. -->
<div class="wm_element_list_element_info_status">
<!-- For the resource additional columns. -->
{{printer_cols}}
</div>
</div>
</div>
</template>
