/* For the whole CR list. */
.resource_list {
  padding: 40px 5% 0px 5%;
}

/* For the current state text. */
.current_state {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 5% 10px 5%;
  background-color: #BA181B;
  color: #FFFFFF;
  margin: 0;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}
