/* For the Container select. */
select {
  padding: 6px;
  border: 1px solid #B1A7A6;
  color: #161A1D;
  background-color: #FFFFFF;
  margin: 0px 0px 0px 20px;
}

/* For the Container select label. */
label {
  font-family: Verdana, sans-serif;
  color: #161A1D;
}

/* For the Container logs. */
p {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Courier New, monospace;
  font-size: 14px;
  background-color: #F5F3F4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 50px;
  margin: 25px 5% 50px 5%;
}

/* For the container selector section. */
.container_selector { 
  margin: 25px 5% 25px 5%;
}
