/* For the whole form (including all sections). */
.crd_form {
  margin: 30px 5% 15% 5%;
}

/* For the add and delete buttons on the lists. */
.list_button {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #660708;
}

/* For the inputs that have a reference (container). */
.reference_input {
  display: inline-flex;
  width: 100%;
  align-items: baseline;
}

/* For the manage link for reference fields. */
.reference_manage {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #660708;
  margin: 5px 0px 0px 15px;
}

/* For removing the unnecessary indentation on the lists. */
ul {
  padding: 0px 0px 0px 0px;
}

/* For the fieldsets (objects). */
fieldset {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  margin: -10px 0px 20px 0px;
  background-color: #F5F3F4;
  padding: 35px 35px 20px 35px;
}

/* For the fieldset titles. */
legend {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  position: relative;
  color: #660708;
  top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* For the label used in text fields. */
label {
  font-family: Verdana, sans-serif;
  color: #161A1D;
}

/* For the input and selectors. */
input, select {
  padding: 6px;
  border: 1px solid #B1A7A6;
  margin: 0px 0px 8px 16px;
  color: #161A1D;
  background-color: #FFFFFF;
}

/* For disabled input (such as name). */
input:disabled {
  color: #B1A7A6;
}
