/* For the contents. */
.contents {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Courier New, monospace;
  font-size: 14px;
  background-color: #F5F3F4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.15); 
  padding: 50px;
  margin: 50px 5% 50px 5%;
}
