/* To make sure title section doesn't have borders. */
body {
  padding: 0px 0px 50px 0px;
  margin: 0px;
}

/* For the page header with logo. */
.page_header {
  background-color: #161A1D;
  display: inline-flex;
  width: 90%;
  padding: 30px 5% 30px 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
}

/* For the logo section of page header. */
.page_header_logo {
  height: 100px;
  padding: 0 0 0 0;
  margin-right: 50px;
}

/* For the text section of page header. */
.page_header_title {
  font-family: Verdana, sans-serif;
  color: #F5F3F4; 
  font-size: 32px;
  margin: 0px 0px 0px 0px;
}

/* For the standalone buttons (apply, create, etc.). */
.standalone_button {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  border: none;
  outline: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #A4161A;
  color: #F5F3F4;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

/* For hovering over standalone buttons. */
.standalone_button:hover {
  background-color: #660708;
  color: #FFFFFF;
}

/* For the wide menus heading. */
.wm_heading {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #660708;
}

/* For all of the list and titles and such. */
.wm_element {
  background-color: #F5F3F4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 45px 10px 45px;
  margin-bottom: 35px;
}

/* For the whole list (to remove padding). */
.wm_element_list {
  padding: 0px 0px 0px 0px;
  width: 100%;
}

/* For the whole list element (including name, buttons, etc.). */
.wm_element_list_element {
  background-color: #F5F3F4;
  height: max-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 10px 15px 10px;
  margin: 0px 0px 30px 0px;
}

/* For the line containing name and buttons. */
.wm_element_list_element_name_ops {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

/* For the group of all buttons. */
.wm_element_list_element_buttons {
  display: inline-flex;
}

/* For the inidividual buttons for operations. */
.wm_item_op {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #F5F3F4;
  color: #A4161A;
  padding: 10px;
  height: fit-content;
  margin-left: 5px;
}

/* For the individual button that is hovered. */
.wm_item_op:hover {
  background-color: #A4161A;
  color: #FFFFFF;
}

/* For the list information section. */
.wm_element_list_element_info {
  margin: 0% 2% 0% 2%;
}

/* For the pod status section. */
.wm_element_list_element_info_status {
  display: inline-flex;
  flex-wrap: wrap;
}

/* For the name section. */
.wm_item_name {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
  margin: 10px 0px 0px 0px;
}

/* For the metadata. */
.wm_item_meta {
  font-family: Verdana, sans-serif;
  font-size: 10px;
  font-style: italic;
  color: #161A1D;
  padding: 5px 15px 5px 15px;
  margin: 0px 10px 10px 0px;
  background-color: #D3D3D3;
  border-radius: 50px;
  width: max-content;
}
