<!-- This file contains the HTML template used for the scaling list element. -->
<!-- Author: Ardalan Ahanchi -->
<!-- Date: Janurary 2024 -->

<template id="scaling_list_element_template">
<!-- For the whole list element including info and buttons. -->
<div class="wm_element_list_element">
<!-- For the info section of including name. -->
<div class="wm_element_list_element_info">
<!-- For the name and operations section. -->
<div class="wm_element_list_element_name_ops">
<h3 id="scaling_name" class="wm_item_name" title="Name of the scaleable resource"></h3>
<div class="wm_element_list_element_buttons">
<input type="number" id="scaling_target_count" title="Number of replicas to scale to" class="scaling_val">
<button id="scaling_scale_button" type="button" class="wm_item_op">Scale</button>
<button id="scaling_raw_button" type="button" class="wm_item_op">Raw</button>
</div>
</div>
<!-- For the element metadata section. -->
<div class="wm_element_list_element_info_status">
<h3 id="scaling_type" class="wm_item_meta" title="Type of the scaling resource"></h3>
<h3 id="scaling_available" class="wm_item_meta" title="Current available replicas of the scaling resource"></h3>
</div>
</div>
</div>
</template>
