/* For the category button. */
.category {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  background-color: #A4161A;
  color: #F5F3F4;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  display: block;
}

/* If we hover over category or click it, change background. */
.category:hover, .active {
  background-color: #660708;
  color: #FFFFFF;
}

/* For the (hidden by default) crd_list div. */
.crd_list {
  display: none;
}

/* For the individual CRD buttons. */
.crd_button {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  background-color: #D3D3D3;
  color: #161A1D;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  display: block;
}

/* For hovering over the CRD button. */
.crd_button:hover {
  background-color: #B1A7A6;
}

/* For the whole menu. */
.all_menus {
  display: inline-flex;
  padding: 40px 5% 0px 5%;
  width: 90%;
}

/* For the narrow menu (left side). */
.narrow_menus {
  width: 220px;
  margin: 0px 5% 0px 0px;
  height: max-content;
}

/* For the whole config menu. */
.config_menu {
  width: 100%;
  height: max-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 5px 10px 0 rgba(0, 0, 0, 0.10);
}

/* For the whole external links section. */
.external_links {
  margin-top: 50px;
}

/* For the external links buttons. */
.ext_link {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  background-color: #D3D3D3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  color: #161A1D;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  display: block;
  margin-bottom: 25px;
  border-radius: 50px;
}

/* If we hover over links, change background. */
.ext_link:hover {
  background-color: #161A1D;
  color: #F5F3F4
}

/* For wide menus (pods, deployments, etc.) */
.wide_menus {
  width: 100%;  
}

/* Wide menu properties are inherited from common. 

/* Specifically for scaling target. */
.scaling_val {
  padding: 3px;
  width: 50px;
  height: fit-content;
  margin: 6px 6px 0px 0px;
  border: 1px solid #B1A7A6;
  color: #161A1D;
  background-color: #FFFFFF;
}

/* For the namespace selector in the page header. */

/* For the namespace select and the label. */
.page_header_ns {
  display: grid;
  margin-left: auto;
}

/* For the namespace select label. */
.page_header_ns_label {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  color: #F5F3F4;
  padding-bottom: 8px;
}

/* For the namespace select. */
.page_header_ns_select {
  padding: 6px;
  border: 1px solid #B1A7A6;
  margin: 0 0 0 0;
  color: #161A1D;
  background-color: #FFFFFF;
  width: 100%;
}
