<!-- This file contains the HTML template used for the pod list element. -->
<!-- Author: Ardalan Ahanchi -->
<!-- Date: December 2023 -->

<template id="pods_list_element_template">
<!-- For the whole list element including info and buttons. -->
<div class="wm_element_list_element">
<!-- For the info section of including name. -->
<div class="wm_element_list_element_info">
<!-- For the name and operations section. -->
<div class="wm_element_list_element_name_ops">
<h3 id="pod_name" class="wm_item_name" title="Name of the pod"></h3>
<div class="wm_element_list_element_buttons">
<button id="pod_logs" type="button" class="wm_item_op">Logs</button>
<button id="pod_raw" type="button" class="wm_item_op">Raw</button>
</div>
</div>
<!-- For only the pod status section. -->
<div class="wm_element_list_element_info_status">
<h3 id="pod_status" class="wm_item_meta" title="Current status of the pod"></h3>
<h3 id="pod_ready" class="wm_item_meta" title="Number of ready/total containers in the pod"></h3>
<h3 id="pod_restarts" class="wm_item_meta" title="Number of restarts for the pod"></h3>
<h3 id="pod_node" class="wm_item_meta" title="Name of the node running the pod"></h3>
<h3 id="pod_start_time" class="wm_item_meta" title="Starting time of the pod"></h3>
</div>
</div>
</div>
</template>
